@font-face {
   font-family: 'Arciform';
   src: url('../assets/Arciform.woff2') format('woff2'),
       url('../assets/Arciform.woff') format('woff'), url("../assets/Arciform.ttf") format("truetype"), url('../assets/Arciform.otf')  format('opentype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

body {
  background-image: linear-gradient(rgba(200,62,77,1), rgba(244,184,96,1));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card {
  background-color: white;
  border: none !important;
}
.card-body{
  font-family: "Arciform", "Montserrat", sans-serif; color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.card-text{
  width: 300px;
}
.card-body img{
  object-fit: contain;
}
.btn{
  width: 300px;
  padding: 10px;
}

.btn img{
  max-width: 30px;
  height: auto;
}
