body {
  background-image: linear-gradient(rgba(200,62,77,1), rgba(244,184,96,1));
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card { 
  background-image: linear-gradient(rgba(200,62,77,1), rgba(244,184,96,1));
  border: none;
}
